@import "https://fonts.googleapis.com/css2?family=Roboto:wght@100;500;700;900&display=swap";
:root {
    --primary-color: #000;
    --colort: #f10404;
}

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    background-color: #fffff0;
    font-family: 'Roboto', sans-serif;
}

header {
    background-color: rgba(0, 0, 0, 0.1);
    width: 100%;
    padding: 32px;
    text-align: center;
    box-sizing: border-box;
}

.links {
    font-size: 22px;
}

.links a+a {
    margin-left: 32px;
}

.links a {
    text-decoration: none;
    color: var(--primary-color);
    position: relative;
}

.links a.active {
    font-weight: 700;
    color: var(--colort);
}

.links a:hover {
    color: var(--primary-color);
}

.links a::after {
    content: "";
    opacity: 0;
    width: 100%;
    height: 3px;
    background-color: var(--primary-color);
    position: absolute;
    top: 57px;
    left: 0;
}

.links a:hover::after {
    width: 105%;
    opacity: 1;
    transition: all 300ms ease-in-out;
}


/* card */

.card {
    background-color: #e5e5d8;
    width: 800px;
    min-height: 400px;
    margin: 36px auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    box-shadow: 3px 3px 10px 2px rgba(0, 0, 0, 0.2);
    /*animation*/
    animation-name: left;
    animation-duration: 800ms;
    animation-timing-function: ease-in-out;
}

.avatar {
    width: 90%;
}

@keyframes left {
    from {
        opacity: 0;
        transform: translateX(20px)
    }
    to {
        opacity: 1;
    }
}

.details .item {
    border-top: 0.5px solid #888;
    padding: 10px;
    margin: 10px 50px 0 0;
}

.item:first-child {
    border: none;
}

.details .item div:nth-child(1) {
    color: #888;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.7px;
    font-weight: normal;
}

.details .item div:nth-child(2) {
    color: #000;
    font-weight: bold;
    font-size: 18px;
}

.details .item div:nth-child(2) span {
    background-color: var(--colort);
    border-radius: 16px;
    padding: 8px 16px;
    display: inline-block;
    margin-right: 4px;
    margin-top: 8px;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 12px;
}


/*========creat========*/

h3 {
    font-size: 18px;
    color: var(--colort);
    margin-top: 30px;
}

input,
select {
    width: 100%;
    outline: none;
    color: #555;
    font-weight: bold;
    font-size: 18px;
    background-color: #e5e5d8;
}

input[type="radio"] {
    visibility: hidden;
}

.label_position {
    position: relative;
    top: -44px;
    left: 140px;
}

.check {
    margin-bottom: -40px;
    margin-left: 28px;
}

.check label {
    color: #555;
    font-weight: bold;
    font-size: 18px;
    border: 2px solid var(--primary-color);
    padding: 8px 16px;
}

input[type="radio"]:checked+label {
    border: 3px solid var(--colort);
}

button[type="submit"] {
    width: 90%;
    padding: 8px 10px;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: -4px;
    background-color: var(--colort);
    font-size: 18px;
    color: white;
    border-radius: 4px;
}

a.button {
    display: block;
    text-decoration: none;
    text-align: center;
    padding: 8px 10px;
    border-radius: 4px;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-right: 45px;
    background-color: var(--colort);
    font-size: 18px;
    color: white;
}